.jumbotron {
    background-color: cadetblue;
    color: white;
    margin-top: 50px;
    background-image: url(/images/hotel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-hotel {
    flex: 1 200px;
    padding: 0px 0px 0px 0px;
}

/* .btn {
    background-color: cadetblue;
    border-color: cadetblue;
} */

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

footer {
    padding: 10px 10px 0 10px;
    color: white;
    background-color: cadetblue;
    margin-bottom: 0px;
}

footer a {
    color: white;
}

.footer-address-icon {
    padding-right: 6px;
}

.tab-content {
    padding-top: 10px;
}
